.intro {
    

    

    &__wrapper {
        // max-width: 450px;
        margin-top: 220px;
    }

    

    &__title {
        font-size: 70px;
        line-height: 84px;
        // 84
    }

    
}