$fontOpenSans: 'Open Sans', sans-serif;
$fontRoboto: 'Roboto', sans-serif;
$fontYellowtail: 'Yellowtail', cursive;

$lightGreen: #7EB693;
$darkGreen: #274C5B;
$yellow: #EFD372;
$white: #FFFFFF;
$grey: #525C60;
$lightGrey: #B8B8B8;
$orangeStar: #FFA858;
$backround: #F9F8F8;