.advertise {
    
    

    &__card {

        min-height: 378px;
        

        .card__subtitle {

            font-size: 36px;

        }

        .card__title {
            max-width: 264px;

            line-height: 52px;

            font-size: 40px;
            letter-spacing: 0.36px;
        }

        
    }

    
}