.subscribe {
    

    

    &__wrapper {
       

        

        form {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: unset;
            min-width: 567px;

            input{
                &:focus {
                    outline: none;
                }
                &::placeholder {
                    
                    text-align: left;
                }
                
                margin-bottom: 0px;
                margin-right: 10px;
            }

            button {
                display: flex;
                align-items: center;
                width: unset;
                justify-content: center;
                

               
    
                
            }
        }
    }
}