.subscribe {
    padding-top: 110px;
    // 110
    padding-bottom: 50px;
    // 50

    

    &__wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        h3 {
            
            text-align: left;
            margin-bottom: 0px;
        }

        form {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: unset;
            min-width: 567px;

            input{
                &:focus {
                    outline: none;
                }
                &::placeholder {
                    font-family: $fontOpenSans;
                    font-size: 18px;
                    color: $grey;
                    text-align: left;
                }
                padding: 26px 30px 26px;
                border-radius: 16px;
                width: 100%;
                border: none;
                margin-bottom: 0px;
                margin-right: 10px;
            }

            button {
                display: flex;
                align-items: center;
                width: unset;
                justify-content: center;
                padding: 24px 8px 24px 33px;
                background-color: $darkGreen;
                border-radius: 16px;
                border: none;
                cursor: pointer;

                
    
                
            }
        }
    }
}